.Card-Product img {
    width: 40%;
}

.Card-Product {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 13px;
    gap: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);

}

.Card-Product h2 {
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.price-card-items{
    letter-spacing: 4px;
}

.buy02 {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #ffffff;
    --main-color: #000000;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.buy02, .button__icon, .button__text {
    transition: all 0.3s;
}

.buy02 .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
}

.buy02 .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy02 .svg {
    width: 20px;
    fill: var(--main-color);
}

.buy02:hover {
    background: var(--bg-color);
}

.buy02:hover .button__text {
    color: transparent;
}

.buy02:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.buy02:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

.buy02:disabled {
    --main-focus: #2d8bf08f;
    --font-color: #3232327c;
    --bg-color-sub: #dedede75;
    --bg-color: #ffffff79;
    --main-color: #0000007a;
}