.Card-Historial {
    border: 1px solid rgb(219, 218, 222);
    width: 80%;
    height: auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    gap: 15px;
    margin: 30px;
}

.box-historial{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 15px;
    font-size: 17px;
    justify-content: space-around;
    font-weight: 700;
}

.Card-Ttile{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin:0;
}

.title-text{
    color: #1f3e56;
}

.Left-Card {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Right-Card {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.Cantidad-Producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.line-historial {
    border: 1px solid black;
}