.box-historial-facturas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Card-Historial-Factura {
    border: 1px solid rgb(219, 218, 222);
    width: 450px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    gap: 13px;
}

.Card-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipo-factura {
    font-size: 40px;
    padding: 20px;
}

.line-Historial-Factura {
    border: 1px solid black;
}

.Left-Card-Historial-Factura {
    gap: 13px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.box-Historial-Factura {
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 18px;
}

.bottom-Card-Historial-Factura {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.Producto-Historial-Factura {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.subtotal-Historial-Factura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elemento-subtotal-factura {
    display: flex;
    justify-content: space-between;
}

.producto-precio-Historial-Factura {
    display: flex;
    justify-content: space-between;
}