.header-box {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-mid {
    display: flex;
    gap: 40px;
}

.cart-header {
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 25px;
    font-weight: 700px;
}


.header-upload {
    background-color: transparent;
    font-size: 16px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}

.header-name{
    cursor: pointer;
}


.header-upload:hover {
    background-color: transparent;
    font-size: 16px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    font-weight: 700;
    scale: 1.1;
}

.header-pedidos{
    font-size: 17px;
    cursor: pointer;
    color: #526D82;;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}



