
.all-box-inicio {
    margin: 50px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 7%;
    /* align-items: center; */
    /* justify-content: space-evenly; */

}

.linea-media-inicio {
    height: flex 1;
    margin: 0;
}

.left-box-inicio {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    gap: 30px;
    height: fit-content;
}

.right-box-inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 27%;
    gap: 10px;
    font-family: sans-serif;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgb(219, 218, 222);

}

.boton-pagar {
    width: 100%;
    border-radius: 6px;
    height: 30px;
    border: none;
    background-color: #dedede;
    cursor: pointer;

}
