
.filtros, .ordenar{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 7px;
}


.input-box3 label{
    font-size: 18px;
    font-family: 'Poppins';
}

.conteiner {
    padding-left: 250px;
    max-width: 100rem;
    margin-inline: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid-productos {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, minmax(200px,300px));
    /* grid-template-columns: 1fr 1fr 1fr; */
}


@media (max-width: 1355px){
    .grid-productos {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px,300px));
    }
  }

  @media (max-width: 900px){
    .grid-productos {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px,300px));
    }
  }

  @media (max-width: 650px){
    .conteiner {
        padding-left: 0;
    }
  }

